@charset "utf-8";
//@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

$family-sans-serif: "IBM Plex Sans Arabic", sans-serif;
$eggshell: #f4f1deff;
$terra-cotta: #e07a5fff;
$independence: #3d405bff;
$independence-light: #5A5E87;
$green-sheen: #81B29A;
$deep-champagne: #f2cc8fff;

$success: $green-sheen;
$cyan: $independence;
$warning: $terra-cotta;
$link: $independence;
$primary: $independence-light;
$grey-light: $independence;
$light: $eggshell;

$body-background-color: $eggshell;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 10%;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
//@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/other.sass";