<br />
<div class="has-text-centered mt-5">
    <a href="/">
        <button class="button is-success">
            <span class="icon is-small">
                <i class="fas fa-hand-point-left"></i>
            </span>
            <span>Generate Another</span>
        </button>
    </a>
</div>