<section class="hero has-background-warning">
    <div class="hero-head">
        <div class="container px-5">
            <nav class="level is-mobile py-3">
                <a href="https://rosghub.xyz">
                    <span class="title is-5">rosghub.xyz</span>
                </a>

                <a href="https://github.com" target="_blank">
                    <span class="icon has-text-black">
                        <i class="fab fa-github fa-lg"></i>
                    </span>
                </a>
            </nav>
        </div>
    </div>
</section>