<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>
<style>
    <%- include('css/notification.css');
    %>
</style>

<body>
    <%- include('partials/topbar'); %>

        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title is-size-4">
                    404
                </p>
                <p class="subtitle is-size-6-mobile">
                    Page not found!
                </p>

            </div>
        </section>

        <%- include('partials/homebutton') %>
</body>

</html>