<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/71d07ad384.js" crossorigin="anonymous"></script>
    <title>One Time Secret</title>
</head>
<style>
    #copy_icon {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    #secret {
        overflow-x: auto;
        padding: 20px;
        margin-right: 20px;
    }

    .notification {
        padding: 0 24px 0 0;
    }
</style>
<body>
    <%- include('partials/topbar') %>

    <section class="section is-medium">
        <div class="container has-text-centered">
            <p class="title is-size-4">Here's a link to your secret</p>
            <p class="subtitle is-size-6-mobile">
                It can only be viewed once.<br />
                After that it will be gone forever.
            </p>
        </div>
    </section>

    <%- include('partials/notification', { content: link, isLink: true }); %>

        <div class="columns is-centered mt-5 is-mobile">
            <div class="column is-narrow">
                <a href="/">
                    <button class="button">
                        <span class="icon is-small">
                            <i class="fas fa-hand-point-left"></i>
                        </span>
                        <span>Generate Another</span>
                    </button>
                </a>
            </div>
        </div>


</body>

</html>