<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/71d07ad384.js" crossorigin="anonymous"></script>
    <title>One Time Secret</title>
</head>
<style>
<%- include('css/notification'); %>
</style>

<body>
    <%- include('partials/topbar'); %>

    <section class="section is-medium">
        <div class="container has-text-centered">
            <% if (secret) { %>
                <p class="title is-size-4">
                    Here's your secret
                </p>
                <p class="subtitle is-size-6-mobile">
                    Your secret has been revealed, this link is now invalid.
                </p>
                <% } else { %>
                    <p class="title is-size-4">
                        Secret doesn't exist
                    </p>
                    <p class="subtitle is-size-6-mobile">
                        This link is invalid.<br />
                        This secret was already revealed or never existed.
                    </p>
                    <% } %>
        </div>
    </section>

    <% if (secret) { %>
        <%- include('partials/notification', { content: secret, isLink: false }); %>
            <% } %>
                <div class="columns is-centered mt-5 is-mobile">
                    <div class="column is-narrow">
                        <a href="/">
                            <button class="button">
                                <span class="icon is-small">
                                    <i class="fas fa-hand-point-left"></i>
                                </span>
                                <span>Generate Another</span>
                            </button>
                        </a>
                    </div>
                </div>



</body>

</html>