<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/71d07ad384.js" crossorigin="anonymous"></script>
    <title>One Time Secret</title>
</head>
<style>
    #copy_icon {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }
</style>

<body>
    <section class="hero has-background-light">
        <div class="hero-head">
            <div class="container is-mobile px-5">
                <nav class="level is-mobile py-3">
                    <a href="https://rosghub.xyz">
                        <span class="title is-5">rosghub.xyz</span>
                    </a>

                    <a href="https://github.com" target="_blank">
                        <span class="icon has-text-info-dark">
                            <i class="fab fa-github fa-lg"></i>
                        </span>
                    </a>
                </nav>
            </div>
        </div>
    </section>

    <section class="section is-medium">
        <div class="container has-text-centered">
            <% if (secret) { %>
                <p class="title is-size-4">
                    Here's your secret
                </p>
                <p class="subtitle is-size-6-mobile">
                    Your secret has been revealed, this link is now invalid.
                </p>
                <% } else { %>
                    <p class="title is-size-4">
                        Secret doesn't exist
                    </p>
                    <p class="subtitle is-size-6-mobile">
                        This link is invalid.<br />
                        This secret was already revealed or never existed.
                    </p>
                    <% } %>
        </div>
    </section>

    <% if (secret) { %>
        <div class="columns is-centered">
            <div class="column is-5-widescreen is-6-desktop is-8-tablet mx-4">
                <div class="notification" onclick="copyLink()">
                    <span class="icon" id="copy_icon">
                        <i class="fas fa-copy" id="copy_btn"></i>
                        <i class="fas fa-check" id="success_btn" style="display: none"></i>
                    </span>
                    <p id="secret">
                        <%= secret %>
                        this is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secretthis is a long secret
                    </p>
                </div>
            </div>
        </div>

        <% } %>
            <div class="columns is-centered mt-5 is-mobile">
                <div class="column is-narrow">
                    <a href="/">
                        <button class="button">
                            <span class="icon is-small">
                                <i class="fas fa-hand-point-left"></i>
                            </span>
                            <span>Generate Another</span>
                        </button>
                    </a>
                </div>
            </div>

            <script>
                function copyLink() {
                    // copy link
                    var range = document.createRange();
                    range.selectNode(document.getElementById("secret"));
                    window.getSelection().removeAllRanges();
                    window.getSelection().addRange(range);
                    document.execCommand("copy");
                    window.getSelection().removeAllRanges();

                    // flash success icon
                    var copyBtn = document.getElementById("copy_btn");
                    var successBtn = document.getElementById("success_btn");
                    copyBtn.style.display = 'none';
                    successBtn.style.display = 'block';

                    window.setTimeout(() => {
                        copyBtn.style.display = 'block';
                        successBtn.style.display = 'none';
                    }, 1200);
                }
            </script>

</body>

</html>