#copy_icon {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

#secret {
    overflow-x: auto;
    padding: 20px 0 20px 20px;
    margin-right: 20px;
    background-clip: content-box;
}

.notification {
    padding: 0 24px 0 0;
    border: 3px solid #3d405bff;
}